<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather app</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
    <div class="search">
        <input class="input" type="text" placeholder="enter location">
    </div>
    <div class="container">
        <div class="top">
            <div class="location">
                <p>nairobi</p>
                <div class="temp">
                    <h1>30</h1>
                </div>
            </div>
        </div>
        <div class="weather">
            <p>clouds</p>
        </div>
        <div class="bottom">
            <div class="temp">
                <p class="bold">feels like</p>
                <p>23</p>
            </div>
            <div class="humid">
                <p class="bold">humidity</p>
                <p>30%</p>
            </div>
            <div class="speed">
                <p class="bold">wind speed</p>
                <p>5 kph</p>
            </div>
        </div>
    </div>
</body>
<script src="index.js"></script>
</html>